table{
  border-collapse: collapse;
  border: 1px solid rgba(255, 192, 203,0.4);
  
}
thead{
  background-color: rgba(255, 192, 203,0.4);
  
  
}

th{
  width: 200px;
  height: 50px;
  font-weight: 100;
  
  

}
td{
  padding: 10px 10px;
  border-bottom: 1px solid rgba(255, 192, 203,0.4);;
  text-align: center;
  

}
button{
  padding: 10px;
  margin: 10px;
  width: 70px;
}
.xoa{
  background-color: red;
  color: white;
  border-radius: 5px;
}
.sua{
  background-color: white;
  border-radius: 5px;
}
